<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="VipUser" class="com.ssafy.hw.VipUser"></bean>
	<bean id="userPrinter" class="com.ssafy.hw.UserPrinter">
		<property name="user" ref="VipUser"></property>
	</bean>
</beans>
